@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_dashLayout.cshtml";
}
@{
    var lst = new SfDesk.Controllers.Menu().Get_All_Menu();
}
<ul>
    @foreach (var l1 in lst.Where(x => x.Parent_ID == 0))
    {
        var sub = lst.Where(x => x.Parent_ID == l1.Menu_ID);

        <li>
            @Html.ActionLink(l1.Text, l1.RedirectAction, l1.RedirectController)
           
            @if(sub.Count()!=0)
            {
                <ul>
                    @foreach(var l2 in sub)
                    {
                        <li>
                            @Html.ActionLink(l2.Text, l2.RedirectAction, l2.RedirectController)
                        </li>
                    }
                </ul>
            }
           
        </li>
    }
    </ul>